<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>header</key>
	<array>
		<string>图片栗子</string>
		<string>React Native组件介绍</string>
	</array>
	<key>content</key>
	<dict>
		<key>图片栗子</key>
		<array>
			<dict>
				<key>itemTitle</key>
				<string>放大镜</string>
				<key>itemIcon</key>
				<string></string>
				<key>toVc</key>
				<string>MagnifierVC</string>
				<key>propertyDict</key>
				<dict/>
			</dict>
		</array>
		<key>React Native组件介绍</key>
		<array>
			<dict>
				<key>itemTitle</key>
				<string>react-native组件(1)--(react-navigation组件简单运用)</string>
				<key>itemIcon</key>
				<string></string>
				<key>toVc</key>
				<string>DCBaseWebVC</string>
				<key>propertyDict</key>
				<dict>
					<key>urlString</key>
					<string>http://www.jianshu.com/p/f2542c8c35c6</string>
					<key>popToVc</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>react-native组件(2)--(react-native-root-toast)</string>
				<key>itemIcon</key>
				<string></string>
				<key>toVc</key>
				<string>DCBaseWebVC</string>
				<key>propertyDict</key>
				<dict>
					<key>urlString</key>
					<string>http://www.jianshu.com/p/8f57c7129b1f</string>
					<key>popToVc</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>react-native组件(3)--(react-native-md5)</string>
				<key>itemIcon</key>
				<string></string>
				<key>toVc</key>
				<string>DCBaseWebVC</string>
				<key>propertyDict</key>
				<dict>
					<key>urlString</key>
					<string>http://www.jianshu.com/p/0198b23721c4</string>
					<key>popToVc</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>react-native组件(4)--(moment)</string>
				<key>itemIcon</key>
				<string></string>
				<key>toVc</key>
				<string>DCBaseWebVC</string>
				<key>propertyDict</key>
				<dict>
					<key>urlString</key>
					<string>http://www.jianshu.com/p/be21f9e697c1</string>
					<key>popToVc</key>
					<string></string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
