<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>header</key>
	<array>
		<string>图片栗子</string>
	</array>
	<key>content</key>
	<dict>
		<key>图片栗子</key>
		<array>
			<dict>
				<key>itemTitle</key>
				<string>放大镜</string>
				<key>itemIcon</key>
				<string></string>
				<key>toVc</key>
				<string>MagnifierVC</string>
				<key>propertyDict</key>
				<dict/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
